<div class="uk-grid">
    <div class="uk-container-center">
        <button class="uk-button uk-button-success" data-uk-modal="{target:'#pulisciLista'}">
            <i class="uk-icon-eraser"></i> Pulisci Lista
        </button>

        <button class="uk-button uk-button-success" data-uk-modal="{target:'#salvaLista'}">
            <i class="uk-icon-floppy-o"></i> Salva Lista
        </button>

        <button class="uk-button uk-button-success" data-uk-modal="{target:'#carrello'}">
            <i class="uk-icon-shopping-cart"></i> Mosta Carrello
        </button>

        <button class="uk-button uk-button-success" data-uk-modal="{target:'#utenti'}">
            <i class="uk-icon-user"></i> Mosta Utenti
        </button>
    </div>
</div>

<div class="uk-grid data-uk-grid-margin">
        <div class="uk-grid-width-1-2 uk-width-large-1-2 uk-width-medium-1-2">
            <table class="uk-table uk-table-striped">
                <caption>Voci</caption>
                <thead>
                    <tr>
                        <th></th>
                        <th>Nome</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="voce in listaSpesa.voci">
                        <td class="uk-text-center uk-width-1-5">
                            <button class="uk-button uk-button-success" ng-click="listaSpesa.addVoce(voce)"><i class="uk-icon-plus"></i></button>
                        </td>
                        <td class="uk-width-4-5">{{voce.Name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="uk-grid-width-1-2 uk-width-large-1-2 uk-width-medium-1-2">
            <table class="uk-table">
                <caption>Utenti</caption>
                <thead>
                    <tr>
                        <th></th>
                        <th>Username</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="utente in listaSpesa.utenti">
                        <td class="uk-text-center uk-width-1-5">
                            <button class="uk-button uk-button-success" ng-click="listaSpesa.addUtente(utente)"><i class="uk-icon-plus"></i></button>
                        </td>
                        <td class="uk-width-4-5">{{utente.Username}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

<div id="carrello" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <div class="uk-grid">
            <div class="uk-grid-width-1-1 uk-width-large-1-1 uk-width-medium-1-1">
                <table class="uk-table uk-table-striped">
                <caption>Voci</caption>
                <thead>
                    <tr>
                        <th></th>
                        <th>Nome</th>
                        <th>Comprata</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="voce in listaSpesa.vociAdded track by $index">
                        <td class="uk-text-center uk-width-1-5">
                            <button class="uk-button uk-button-danger" ng-click="listaSpesa.removeVoce(voce)"><i class="uk-icon-minus"></i></button>
                        </td>
                        <td>{{voce.Name}}</td>
                        <td>
                            <div class="uk-form-row">                                
                                <div class="uk-form-controls uk-form-controls-text uk-form-controls-condensed">     
                                    <input type="checkbox" id="form-comprata" ng-model="voce.Comprata">  
                                    <label for="form-comprata">Voce acquistata?</label>                                    
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>        
        </div>  
        <div class="uk-grid">
            <div class="uk-container-center">
                <button class="uk-button uk-modal-close">
                    <i class="uk-icon-close"></i> Chiudi
                </button>
            </div>
        </div>     
    </div>
</div>

<div id="utenti" class="uk-modal">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-grid">
                <div class="uk-grid-width-1-2 uk-width-large-1-1 uk-width-medium-1-1">
                    <table class="uk-table">
                        <caption>Utenti</caption>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Username</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="utente in listaSpesa.utentiAdded track by $index">
                                <td class="uk-text-center uk-width-1-5">
                                    <button class="uk-button uk-button-danger" ng-click="listaSpesa.removeUtente(utente)"><i class="uk-icon-minus"></i></button>
                                </td>
                                <td>{{utente.Username}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="uk-grid">
                <div class="uk-container-center">
                    <button class="uk-button uk-modal-close">
                        <i class="uk-icon-close"></i> Chiudi
                    </button>
                </div>
            </div>
        </div>
    </div>

<div id="salvaLista" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <div class="uk-grid">
            <div class="uk-width-1-1">
                <form class="uk-form uk-form-horizontal">
                    <fieldset>
                        <legend>Creazione di una nuova lista della spesa</legend>
                        <div class="uk-form-row">
                            <div class="uk-form-label">Nome Lista:</div>
                            <div class="uk-form-controls"><input type="text" placeholder="Inserire il nome" ng-model="listaSpesa.lista.Nome" /></div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="uk-grid">
            <div class="uk-container-center">
                <button class="uk-button uk-button-success" ng-click="listaSpesa.addList()">
                    <i class="uk-icon-save"></i> Salva
                </button>
                <button class="uk-button uk-button-danger uk-modal-close">
                    <i class="uk-icon-close"></i> Annulla
                </button>
            </div>            
        </div>
    </div>
</div>

<div id="pulisciLista" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <div class="uk-grid">
            <div class="uk-width-1-1">
                <form class="uk-form uk-form-horizontal">
                    <fieldset>
                        <legend>Vuoi annullare le modifiche sulla lista corrente?</legend>                        
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="uk-grid">
            <div class="uk-container-center">
                <button class="uk-button uk-button-success" ng-click="listaSpesa.pulisciLista()">
                    <i class="uk-icon-save"></i> Conferma
                </button>
                <button class="uk-button uk-button-danger uk-modal-close">
                    <i class="uk-icon-close"></i> Annulla
                </button>
            </div>
        </div>
    </div>
</div>