<!-- Top navbar -->
<nav class="uk-navbar uk-navbar-attached">
    <a href="#navbar-side" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
    <ul class="uk-navbar-nav">
        <li><a href="#"><img src="Content/images/logo.gif" style="height:35px; margin-bottom:2px" /></a></li>        
    </ul>
    <div class="uk-navbar-flip uk-hidden-small">
        <ul class="uk-navbar-nav" ng-show="userCtrl.isLoggedIn()">            
            <li>
                <a href="#/listaSpesa" class="uk-navbar-nav-subtitle">
                    <i class="fa fa-list"></i> Lista Spesa       
                    <div>gestione lista della spesa</div>             
                </a>
            </li>            
        </ul>
        <ul class="uk-navbar-nav">
            <li class="uk-parent" ng-hide="userCtrl.isLoggedIn()" data-uk-dropdown="{mode:'click'}">
                <a href=""><i class="fa fa-unlock-alt"></i> Accesso <i class="uk-icon-caret-down"></i></a>
                <form-login id="loginPanel" class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-2"></form-login>
            </li>
            <li class="uk-parent" ng-show="userCtrl.isLoggedIn()" data-uk-dropdown="{mode:'click'}">
                <a href="">
                    {{ userCtrl.getCurrentUser().Username }} <i class="uk-icon-caret-down"></i>
                </a>
                <div class="uk-dropdown uk-dropdown-navbar">
                    <a href="#/logout" ng-click="userCtrl.logout()">Esci</a>
                </div>
            </li>
        </ul>
    </div>
</nav>